name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v4

      - name: Install dependencies
        run: yarn install

      - name: Build coverage addon
        run: |
          yarn build

      - name: Run tests in webpack example
        run: |
          yarn install
          npx playwright install --with-deps
          yarn test-storybook:ci-coverage
        working-directory: examples/webpack5
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: false

      - name: Run tests in vite example
        run: |
          yarn install
          npx playwright install --with-deps
          yarn test-storybook:ci-coverage
        working-directory: examples/vite
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: false
